.numbers{
    min-width: 300px;
    border: 1px solid gray;
}

.visual{
    min-width: 300px;
    margin-bottom: 5px;
}

.input-number{
    color: unset;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid;
    font-size: 2em;
    background: #bfbcbc;
    font-weight: 500;
}

.digitos{
    min-width: 300px;
    background-color: #bfbcbc;
}
.btn-digits{
    border-radius: 50px;
    font-size: 2em;
    color: #bfbcbc;
    font-weight: 500;
    background-color: black;
}

.btn-digits:hover{
    border-radius: 50px;
    font-size: 2em;
    box-shadow: 2px 2px 5px 5px #bfbcbc;
    color: #000000;
    background-color: cadetblue;
}